#first-item {
  margin-bottom: 15px;
}

#right-column {
  color: #336699;
  margin-left: 50px;
  float: left
}

#left-column {
  float: left;
  list-style-type: none;
  font-size: large;
}

body {
  margin: 30px;
  margin-right: 0%;
}

#mountains {
  padding-top: 18px
}

td {
  text-align: center;
}
