---
layout: default
items:
  - image_url: https://picsum.photos/480/640
    text: Hello, world!
  - image_url: https://picsum.photos/240/320
    text: Hello, world!
  - image_url: null
    text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ea quaerat modi in voluptas, asperiores repudiandae officiis, maxime sapiente tenetur veniam laudantium minus recusandae libero culpa! Vero in alias magnam!
  - image_url: https://picsum.photos/640/480
    text: Hello, world!
  - image_url: https://picsum.photos/480/640
    text: Hello, world!
  - image_url: https://picsum.photos/640/480
    text: Hello, world!
---

{% for item in page.items %}
  <div class="image">
    {% if item.image_url %}<img src="{{ item.image_url }}"></img>{% endif %}
    {% if item.text %}<p>{{ item.text }}</p>{% endif %}
  </div>
{% endfor %}