<!DOCTYPE html>
<html>
  <head>
    <title>Olga Antonova</title>
  </head>
  <body class="grid-container">    
    <p style="text-align: center">
      <strong>OLGA ANTONOVA</strong></br> 
      (*1988, Ukrainian) is currently based in Zürich<br/>
      <a href="mailto:antonova.vo@gmail.com">antonova.vo@gmail.com</a><br/><br/>

      <a href="https://instagram.com/olma__">@olma__</a><br/>
      <a href="https://www.artsy.net/artist/olga-antonova-1/works-for-sale">artsy</a><br/><br/>

      <a href="https://drive.google.com/drive/folders/19fdiDpvbnv1eYVKPt01o4z814EqCiE_n?usp=sharing">PORTFOLIO</a>
    </p>    
  </body>
</html>
