<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <ul id="left-column">
      <li id="first-item"><a href="/">Olga Antonova</a></li>
      <li><a href="/squat">squat</a></li>
      <li><a href="/portfolio">portfolio</a></li>
      <li><a href="/mountains">mountains</a></li>
      <li><a href="/graphics">graphics</a></li>
      <li><a href="/sketches">sketches</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/cv">cv</a></li>
      <li><a href="/contacts">contacts</a></li>
    </ul>
    <div id="right-column">
      {{ content }}
    </div>
  </body>
</html>
